<div>
	<br>
	<div class="row">
		<div class="col">
			<app-handtracker (onPrediction)="prediction($event)"></app-handtracker>
			<div [innerHTML]="gesture" style="color: antiquewhite;"></div>
		</div>
		<div class="col" style="color:antiquewhite">
			<h5><strong>Gestures</strong></h5>
			<p>
				Two Open Hands: Open Profile on Spotify
				<br>
				Open Hand: Load Profile Information
			</p>
		</div>
	</div>
</div>

<!--TODO: Define click callback to load about me information-->
<button class="btn btn-light" (click) = "loadAboutMe()">Load info about me</button>
<!--TODO: replace ??? to bind to name-->
<h3>Logged in user: {{name}}</h3>
<!--TODO: bind img src's to profile_pic-->
<img [src]="profile_pic">
<p>
	<!--TODO: bind link's href to profile_link-->
	<a class="btn btn-light" target="_blank" href="{{profile_link}}">Open profile on Spotify</a>	
</p>