<h1>Search Spotify</h1>
<!--TODO: bind input's model to searchString-->
<input [(ngModel)]="searchString">
<!--TODO: bind select's model to searchCategory-->
<select [(ngModel)] = "searchCategory">
	<!--TODO: loop over searchCategories to create dropdown options-->
	<!--populate body and text value https://www.w3schools.com/tags/att_option_selected.asp-->
	<option *ngFor="let category of searchCategories" [value] = "category">{{category}}</option>
	<!-- <option value="{{searchCategories[0]}}">{{searchCategories[0]}}</option>
	<option value="{{searchCategories[1]}}">{{searchCategories[1]}}</option>
	<option value="{{searchCategories[2]}}">{{searchCategories[2]}}</option> -->
</select>
<!--TODO: Call search function when the button is clicked-->
<button class="btn btn-light"(click) = "search()">Search</button>
<!--TODO: Display a carousel component if searching for an artist or album. Bind carousel's resources and give it a static carouselId.-->
<!-- {{searchCategory}} -->
<div *ngIf="searchCategory != 'track'">
	<app-carousel></app-carousel>
</div>
<!--TODO: Display a track-list component if searching for a track. Bind track-list's tracks.-->
<div *ngIf="searchCategory == 'track'">
	<app-track-list></app-track-list>
</div>