
<html class = "background">
	<div *ngIf="artist" class="row">
		<div class="col-6">
			<!--TODO: populate with artist name-->
			<h1>{{artist.name}}</h1>
			<!--TODO: populate with artist image URL-->
			<img id="artistImg" [src]="artist.imageURL">
			<p>
				<!--TODO: link to artist page on spotify, display artist name-->
				<a class="btn btn-light" role="button" target="_blank" [href]="artist.url">Open {{artist.name}} on Spotify</a>
			</p>
		</div>
		<div class="col-2">
			<h3>Genres</h3>
			<ul>
				<!--TODO: loop over artist's genres and display them-->
				<li *ngFor="let genre of artist.genres">{{genre}}</li>
			</ul>
			<p>
			</p>
		</div>
		<div class="col-4">
			<!--TODO: display artist name-->
			<h3>{{artist.name}}'s Top Tracks</h3>
			<!--TODO: display the artist's top tracks-->
			<app-track-list [tracks] = "topTracks" hideArtist = "false" hideAlbum = "false"></app-track-list>
			<div>
				<br>
				<div class="row">
					<div class="col">
						<app-handtracker (onPrediction)="prediction($event)"></app-handtracker>
						<div [innerHTML]="gesture" style="color: antiquewhite;"></div>
					</div>
					<div class="col" style="color:antiquewhite; font-size: 15px;">
						<h5><strong>Gestures</strong></h5>
						<p>
							Two Open Hands: Open Page on Spotify
							<br>
							Two Closed Hands: Return to Home Page
							<br>
							Closed Hand: Select Category
							<br>
							Two Hands Pointing: Select Artist/Album/Track (Move Forward)
							<br>
							One Open Hand and One Hand Pointing: Select Artist/Album/Track (Move Back)
						</p>
						<h5><strong>Selections</strong></h5>
						<div *ngIf="toggle=='Track'">
							<strong>Selected Category:</strong> Top Tracks
							<br>
							<strong>Selected Track:</strong> {{topTracks[k].name}}
						</div>
						<div *ngIf="toggle=='Album'">
							<strong>Selected Category:</strong> Artist's Albums
							<br>
							<strong>Selected Artist's Album:</strong> {{albums[j].name}}
						</div>
						<div *ngIf="toggle=='Artist'">
							<strong>Selected Category:</strong> Similar Artists
							<br>
							<strong>Selected Related Artist:</strong> {{relatedArtists[i].name}}
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>

	<div *ngIf="artist" class="row">
		<div class="col-6">
			<!--TODO: display artist name-->
			<h3>{{artist.name}}'s Albums</h3>
			<!--TODO: Display a carousel component for the artist's albums. Bind carousel's resources and give it a static carouselId.-->
			<app-carousel carouselId="artistAlbumCarousel" [resources]="albums"></app-carousel>
		</div>
		<div class="col-6">
			<h3>Similar Artists</h3>
			<!--TODO: Display a carousel component for similar artists. Bind carousel's resources and give it a static carouselId.-->
			<app-carousel carouselId="similarArtistsCarousel" [resources]="relatedArtists"></app-carousel>
		</div>

	</div>
</html>